<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/query.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div >
        <main>
            <h3>All Queries</h3><hr>
            <div>
                <ul>
                    <li>Name:</li><br>
                    <li>Category:</li><br>
                    <li>Message:</li>
                </ul>
                <br>
                <a  class = "btn" href="/admin">Send Responce</a>
                <hr>
            </div>
            <div>
                <ul>
                    <li>Name:</li><br>
                    <li>Category:</li><br>
                    <li>Message:</li>
                </ul>
                <br>
                <a  class = "btn" href="/admin">Send Responce</a>
                <hr>
            </div><div>
                <ul>
                    <li>Name:</li><br>
                    <li>Category:</li><br>
                    <li>Message:</li>
                </ul>
                <br>
                <a  class = "btn" href="/admin">Send Responce</a>
                <hr>
            </div>
                
            <!-- <form class="form" action="/post-query" method="POST">
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="">
                </div>
                <div class="form-control">
                    <label for="category">Query Category</label>
                    <select name="category" id="category">
                        <option value="cat1">Connected but not working!</option>
                        <option value="cat2">Slow Internet</option>
                      </select>
                </div>
                <div class="form-control">
                    <label for="price">Write Query</label>
                    <textarea name="query" id="query" cols="20" rows="5"></textarea>
                </div>                
                <button class="btn" type="submit">Post Query</button>
                
            </form> -->
            
        </main>
    </div>
<%- include('../includes/end.ejs') %>