<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/query.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (queries.length > 0) { %>
            <div class="">
                <% for (let query of queries) { %>
                    <ul >
                        <li>
                            <h4></h4>
                            <h4>Name : <%= query.name %></h4>
                            <h4>Category : <%= query.category %></h4>
                            <h4>Query : <%= query.message %></h4>
                        </li>
                        <a class="btn" href="/admin/response/<%= query._id %>">Respond</a>
                            <form action="/admin/delete-query" method="POST">
                                <input type="hidden"  name = "queryId" value="<%= query._id %>">
                                <button type="submit" class="btn danger">Delete Query</button>
                            </form>
                    </ul>
                    <hr>
                    <!-- <article class="card">
                        
                        <div class="card__content">
                            <h3 >
                                Name : <%= query.name %>
                            </h3>
                            <h3 >
                                Category : <%= query.category %>
                            </h3>
                            <h3 >
                                Query : <%= query.message %>
                            </h3>
                        </div>
                        <div class="centered">
                            <a class="btn" href="/admin/response/<%= query._id %>">Respond</a>
                            <form action="/admin/delete-query" method="POST">
                                <input type="hidden"  name = "queryId" value="<%= query._id %>">
                                <button type="submit" class="btn danger">Delete Query</button>
                            </form>
                        </div>
                        
                    </article> -->
                    <% } %>
            </div>
            <% } else { %>
                <div class="centered">
                    <h1>No Queries Found!</h1>
                </div>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>