<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/query.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div >
        <main>
            <form class="form" action="/admin" method="POST">
            <div class="form-control">
                <label for="name">Name : </label><h4><%= query.name %></h4>
            </div>
            <div class="form-control">
                <label for="category">Query Category</label><h4><%= query.category %></h4>
                
            </div>
            <div class="form-control">
                <label for="message">Query</label><h4><%= query.message %></h4>
            </div>
            
            <div class="form-control">
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="Resolved">Resolved</option>
                    <option value="Not Resolved">Not Resolved</option>
                    </select>
            </div><div class="form-control">
                <label for="Remarks">Remarks</label>
                <textarea name="remarks" id="remarks" cols="5" rows="5"></textarea>
            </div>
            <input type="hidden" value="<%= query._id %>" name="queryId" id="queryId">
            <input type="hidden" value="<%= query.name %>" name="name" id="name">
            <input type="hidden" value="<%= query.category %>" name="category" id="category">
            <input type="hidden" value="<%= query.message %>" name="message" id="message">
            
            <button type="submit" class="btn">Send Response</button><br><br>
            
            <a class="btn" href="/admin">View Queries</a>
            <hr>
            <div >
                
            </div>
        </form>
        </main>
        
    </div>
    
<%- include('../includes/end.ejs') %>