<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/client' ? 'active' : '' %>" href="/client">Client</a>
            </li><li class="main-header__item">
                <a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">Admin</a>
            </li>
        </ul>
    </nav>
</header>