<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/query.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="centered">
        <main>
            <a class="btn" href="/client/query">Send Query</a>
            <h4>Already posted query?</h4>
            <a class="btn" href="/client/responses">View Responses!</a>
            
        </main>
    </div>
<%- include('../includes/end.ejs') %>