<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/query.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="centered">
        <main>
            <form class="form" action="/client/responses" method="POST">
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="">
                </div>
                <div class="form-control">
                    <label for="category">Query Category</label>
                    <select name="category" id="category">
                        <option value="Connected but not working!">Connected but not working!</option>
                        <option value="Slow Internet">Slow Internet</option>
                      </select>
                </div>
                <div class="form-control">
                    <label for="price">Write Query</label>
                    <textarea name="query" id="query" cols="20" rows="5"></textarea>
                </div>                
                <button class="btn" type="submit">Send Query</button>
                
            </form>
            <hr>
            <h4>Already posted query? See Responces.</h4>
            <a class="btn" href="/client/responses">View Responses!</a>
            
        </main>
    </div>
<%- include('../includes/end.ejs') %>