<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/query.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="">
        <main>
            <% if (responses.lenght <= 0){ %>
                <h1>Nothing Found!</h1>
            <%} else { %>
                <ul>
                    <% responses.forEach(response=>{  %>
                        <li><h2>Response to : </h2> 
                            <h4>Name : <%= response.name %></h4>
                            <h4>QueryId : <%= response.queryId %></h4>
                            <h4>Query Category : <%= response.category%></h4>
                            <h4>Query Message :<%= response.message %></h4>
                        </li>
                        <li>
                            <h2>Response Details:</h2>
                            <h4>Status : <%= response.status %></h4>
                            <h4>Query Remar : <%= response.remarks %></h4>
                        </li>
                        <form action="/client/delete-response" method="POST">
                            <input type="hidden" name="queryId" id="queryId" value="<%= response.queryId %>">
                            <input type="hidden" name="resId" id="resId" value="<%= response._id %>">
                            <button type="submit" class="btn">Remove Query and Response</button>
                        </form>
                        <hr>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <div class="centered">
            <h4>Want to send Query?</h4>
            <a class="btn" href="/client/query">Send Query</a>
        </div>
    </div>

<%- include('../includes/end.ejs') %>