<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <h1>Welcome to Query System , Are you Client or Admin?</h1>
    </main>
    <%- include('includes/end.ejs') %>
